

<table style="width:100%">
	<tr class="spaceUnder">
		<th>Name</th>
		<th>Description</th>
		<th> Cuisine </th>
		<th>Rating</th>
		<th>Select</th>
	</tr>
	{{#.}}
	<tr>
	<td>
	{{restaurantName}}
		<br>
	<img src="images/{{restaurantId}}.jpg" style="width:50px;height:50px">
            
        
	</td>
	
		<td>
		{{description}}
		</td>
		<td> {{cuisine}}</td>
		
		<td>{{ rating }}</td>
		<td> <button class="addBtn" type="button" value="{{restaurantId}}"> Select Restaurant </button> </td>
	</tr>
	{{/.}}
</table>

